html,body{
  background-color: #f1e5e6 !important;
  height: 100%;
  /*font-family: 'Numans', sans-serif;*/
}
div{
  text-align: center;
}

.container{
  height: 100%;
  max-width: 100% !important;
  align-content: center;
  padding: 0px !important;
}
.wrapper{
  max-width: 1200px !important;
  width: 100%;
  margin: 0 auto; 
}
.upload-section, .search-section, .results-section{
  margin-top: 30px;
}
.form-group.col-md-6, .form-group.col-md-4{
  text-align: left;
}	 
.project-title{
  color: #fff;
  background-color: #d3394c;
  padding: 20px;
}
.project-title h1{
  font-size: 20px;
  margin: 0px; 
}
.input-group-prepend span {
  background-color: #d3394c !important;
}
.btn-primary{
  background-color: #d3394c !important;
  border-color: #d3394c !important;
  width: 49% !important;
  display:block;
}

#search{
  width: 100% !important;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.input-group-prepend span {
  background-color: #961d22;
  color: #fff;
  border: 0 !important;
}

input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
}
