<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
<head>
	<title>Anagram Project</title>

 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

	<!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<div class="container">

		<div class="project-title">
			<h1>Anagram Project</h1>
		</div>
		<div class="wrapper">

			<div class="upload-section">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="upload-file">Select File</label>
						<div class="input-group">
							
							<div class="custom-file">
								<label class="custom-file-label">
								<input type="file" (change)="selectFile($event)" accept=".txt" />
							</label>
							</div>
						</div>	
					</div>

					<div class="form-group col-md-6">
						<label for="expression-label">Write expression</label>
						<input class="form-control" type="text" [(ngModel)]="phraseCharacters" placeholder="expression">
					</div>
					<button type="submit" class="btn btn-primary" style="margin-left: 5px;" [disabled]="!selectedFiles" (click)="upload()">Upload</button>

					<button type="submit" class="btn btn-primary" style="margin-left: 10px;" [disabled]="!phraseCharacters" (click)="submit()">Submit</button>
				</div>
			</div>
			<div class="search-section">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="expression-label">Write anagram</label>
						<input class="form-control" [(ngModel)]="anagramPhrase" type="text" placeholder="anagram">
					</div>
					<div class="form-group col-md-4">
						<label for="result-number-label">Number of results</label>
						<input class="form-control" type="number" placeholder="number of results..." [(ngModel)]="numberOfResults" name="phrase" type="number" min=1>
					</div>
					<div class="form-group col-md-4">
						<!-- <label for="max-results-label">Check this if you want all results shown below...</label> -->
						<div class="checkbox-results">
							<input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="checked">
							<label class="form-check-label" for="exampleCheck1" >Max Results</label>
						</div>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" id="search" [disabled]="!anagramPhrase || (!numberOfResults&&!checked)"
            (click)="search()">Search</button>
			<div class="result-section">
                <table class="table table-striped">
					<thead>
						<tr *ngIf="ELEMENT_DATA.length>0">
							<th>Position</th>
							<th>Anagram</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let l of ELEMENT_DATA">
							<td>{{ l.position }}</td>
							<td>{{ l.anagram }}</td>
						</tr>
					</tbody>
				</table>
				<!-- TO DO : table result -->  
			</div>

		</div>
	</div>
</body>
</html>